<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PasswordVaultApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="" navbar navbar-light" style="background-color: #00BCD4; " ">
            <div class="container">
                <a href="@Url.Action("Index","Home")"><input class="navbar-brand" type="button" value="PasswordVaultApp" /></a>
                <a href="@Url.Action("SiteList","Site")"><input class="navbar-brand" type="button" value="Sites" /></a>
                <a href="@Url.Action("LogOut","Home")"><input class="navbar-brand" type="button" value="Log Out" style="float:right;" /></a>
                <button type="button" class="btn btn-success" aria-expanded="false" style="float: right; margin-top: 10px;">
                    @using Microsoft.AspNetCore.Http
                    @inject IHttpContextAccessor HttpContextAccessor
                    @HttpContextAccessor.HttpContext.Session.GetString("username")
                </button>


                @*<span class="blockquote" style="float:right;">Douglas McGee</span>
        <img class="img-fluid img-thumbnail" src="~/colorlib-regform-7/images/undraw_profile.svg" style="float:right;">*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PasswordVaultApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Ceylan</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
